<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CogwheelSlimDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CogwheelSlimDX.Properties.Settings>
            <setting name="KeyUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeyTL" serializeAs="String">
                <value>ControlKey</value>
            </setting>
            <setting name="KeyTR" serializeAs="String">
                <value>Menu</value>
            </setting>
            <setting name="KeyStart" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyPause" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyReset" serializeAs="String">
                <value>Enter</value>
            </setting>
        </CogwheelSlimDX.Properties.Settings>
    </userSettings>
</configuration>