<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CogwheelSlimDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CogwheelSlimDX.Properties.Settings>
            <setting name="KeyP1Up" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyP1Down" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyP1Left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyP1Right" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeyP1TL" serializeAs="String">
                <value>ControlKey</value>
            </setting>
            <setting name="KeyP1TR" serializeAs="String">
                <value>Menu</value>
            </setting>
            <setting name="KeyStart" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyPause" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyReset" serializeAs="String">
                <value>Back</value>
            </setting>
            <setting name="KeyP2Up" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Down" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Left" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Right" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2TL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2TR" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UrlBugReport" serializeAs="String">
                <value>http://www.bee-dev.com/?go=cogwheel.bugs</value>
            </setting>
            <setting name="OptionSimulateGameGearLcdScaling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UrlWebsite" serializeAs="String">
                <value>http://www.bee-dev.com/?go=cogwheel</value>
            </setting>
            <setting name="OptionLinearInterpolation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionEnableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoredPathQuickLoad" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathState" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedCartridge" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedCartridgePatch" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedBios" serializeAs="String">
                <value />
            </setting>
        </CogwheelSlimDX.Properties.Settings>
    </userSettings>
</configuration>