<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CogwheelSlimDX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CogwheelSlimDX.Properties.Settings>
            <setting name="KeyP1Up" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyP1Down" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyP1Left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyP1Right" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeyP1TL" serializeAs="String">
                <value>ControlKey</value>
            </setting>
            <setting name="KeyP1TR" serializeAs="String">
                <value>Menu</value>
            </setting>
            <setting name="KeyStart" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyPause" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="KeyReset" serializeAs="String">
                <value>Back</value>
            </setting>
            <setting name="KeyP2Up" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Down" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Left" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Right" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2TL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2TR" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="UrlBugReport" serializeAs="String">
                <value>http://www.bee-dev.com/?go=cogwheel.bugs</value>
            </setting>
            <setting name="OptionSimulateGameGearLcdScaling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UrlWebsite" serializeAs="String">
                <value>http://www.bee-dev.com/?go=cogwheel</value>
            </setting>
            <setting name="OptionLinearInterpolation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionEnableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoredPathQuickLoad" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathState" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedCartridge" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedCartridgePatch" serializeAs="String">
                <value />
            </setting>
            <setting name="StoredPathAdvancedBios" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionMaxMRUEntries" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StoredPathMRU" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionMaintainAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KeyP1Num0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyP1Num1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeyP1Num2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="KeyP1Num3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="KeyP1Num4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="KeyP1Num5" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeyP1Num6" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="KeyP1Num7" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="KeyP1Num8" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KeyP1Num9" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="KeyP1Star" serializeAs="String">
                <value>OemMinus</value>
            </setting>
            <setting name="KeyP1Hash" serializeAs="String">
                <value>Oemplus</value>
            </setting>
            <setting name="KeyP2Num0" serializeAs="String">
                <value>NumPad0</value>
            </setting>
            <setting name="KeyP2Num1" serializeAs="String">
                <value>NumPad1</value>
            </setting>
            <setting name="KeyP2Num2" serializeAs="String">
                <value>NumPad2</value>
            </setting>
            <setting name="KeyP2Num3" serializeAs="String">
                <value>NumPad3</value>
            </setting>
            <setting name="KeyP2Num4" serializeAs="String">
                <value>NumPad4</value>
            </setting>
            <setting name="KeyP2Num5" serializeAs="String">
                <value>NumPad5</value>
            </setting>
            <setting name="KeyP2Num6" serializeAs="String">
                <value>NumPad6</value>
            </setting>
            <setting name="KeyP2Num7" serializeAs="String">
                <value>NumPad7</value>
            </setting>
            <setting name="KeyP2Num8" serializeAs="String">
                <value>NumPad8</value>
            </setting>
            <setting name="KeyP2Num9" serializeAs="String">
                <value>NumPad9</value>
            </setting>
            <setting name="KeyP2Star" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="KeyP2Hash" serializeAs="String">
                <value>None</value>
            </setting>
        </CogwheelSlimDX.Properties.Settings>
    </userSettings>
</configuration>