<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeeDevelopment.Cogwheel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeeDevelopment.Cogwheel.Properties.Settings>
            <setting name="KeyP1Up" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="KeyP1Down" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="KeyP1Left" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="KeyP1Right" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="KeyP1B1" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="KeyP1B2" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="KeyPause" serializeAs="String">
                <value>Space</value>
            </setting>
            <setting name="EmulatorIsJapanese" serializeAs="String">
                <value>True</value>
            </setting>
        </BeeDevelopment.Cogwheel.Properties.Settings>
    </userSettings>
</configuration>